body{
    padding: 0;
    margin: 0 auto;
    background-color: #636B6B;
}
.headerImage-01{
    display: grid;
    width: 100%;
    position: relative;
}
.headerImage-01::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: -1;
}
.headerTitle {
    color: white;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.headerDescription {
    position: absolute;
    color: white;
    top: 60%;
    z-index: 1;
}
#mainContent{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* place-items: center; */
    /* background-color: #B8B8B8; */
    gap : 10px;
}
.Criteria{
    background-color: #B8B8B8;
    display: grid;
}
.ImageSection{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #B8B8B8;
}
.ImageSection h1{
    background-color: #636B6B;
}

.Criteria {
    display: grid;
    
}